* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: antiquewhite;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

/* NAVEGACION */
.cont_nav {
    border: 2px solid black;
    border-radius: 20px;
    margin: 6px 72px;
}

.cont_navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont_navegacion ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.cont_navegacion li {
    margin: 10px;
}

.cont_navegacion a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

.cerrar,
.nav-link a {
    color: black;
    border: none;
    background-color: none;
    text-decoration: none;
    cursor: pointer;
}

.nombre_nav {
    border: none;
    background-color: none;
    text-decoration: none;
}

/* CONTENIDO */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.cont_inicio{
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.mb_div {
    margin-bottom: 150px;
}

.cont_div {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
}

.cont_rosa {
    background-color: #ffc0cb;
    padding: 50px 70px;
    width: 100%;
}

.cont_lila {
    background-color: #a388ef;
    padding: 50px 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_sobrenos_ros {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_sobrenos_ros img {
    width: 200px;
    margin: 20px;
}

.cont_sobrenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont_verde {
    background-color: #88efbf;
    padding: 20px 40px;
}

.cont_amarillo {
    background-color: #e5ef88;
    padding: 20px 40px;
}

.cont_verde img,
.cont_amarillo img {
    width: 150px;
}

.cont_rojo {
    background-color: #ef8888;
    padding: 50px 70px;
    width: 100%;
}

.cont_VM {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cont_alumnas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont_img_integrantes img {
    border-radius: 50% 50% 0 0;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.cont_img_integrantes:hover {
    transform: scale(1.1);
}

.cont_img_integrantes {
    border-radius: 50% 50% 0 0;
    border: 2px solid black;
    position: relative;
    width: 300px;
    height: 300px;
}

.alumnas:nth-child(3n + 1) .cont_img_integrantes {
    background-color: #e5ef88;
}

.alumnas:nth-child(3n + 2) .cont_img_integrantes {
    background-color: #a388ef;
}

.alumnas:nth-child(3n + 3) .cont_img_integrantes {
    background-color: #88efbf;
}

/* FORMULARIO */
.cont_div_form {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont_div_admin {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cont_form_admin {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.form_admin>div {
    padding: 30px;
}

.cont_form_login,
.cont_form {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
    background-color: #a388ef;
    padding: 30px 40px;
}

.cont_form_login {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cont_form h1 {
    color: white;
}

.form_text label,
.form-group label {
    color: white;
    font-weight: 600;
}

.adm_div label,
.select_form label {
    color: black;
    font-weight: 600;
}

.form_admin {
    display: flex;
    justify-content: center;
}

.select_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #7e52f5;
    background-color: transparent;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.adm_div textarea,
.select_form input,
.select_form select,
.form_text textarea,
.form-group textarea,
.form_t textarea {
    background-color: transparent;
    border: 1px solid #7e52f5;
    margin: 10px 0;
    outline: none;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
.select_form input:focus,
.select_form select:focus,
.form_text textarea:focus,
.form-group textarea:focus,
.form_t textarea:focus {
    background-color: transparent;
    border: 1px solid #7e52f5;
    box-shadow: 0 1px 5px #7e52f5;
}

.img_contacto {
    width: 250px;
    height: auto;
}

.cont_info_form {
    width: 300px;
    padding: 20px;
}

/* BOTONES */
.button {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    transition: box-shadow 0.3s ease;
}

.button:hover {
    box-shadow: 0 0 2px transparent;
}

.btn_lila {
    background-color: #a388ef;
    color: white;
}

.btn_lila:hover {
    background-color: #7e52f5;
}

.btn_verde {
    background-color: #88efbf;
}

.btn_verde:hover {
    background-color: #50eba2;
}

.btn_celeste {
    background-color: #87ceeb;
    color: black;
}

.btn_celeste:hover {
    background-color: #5abee6;
}

.btn_rosa {
    background-color: #ffc0cb;
    color: black;
}

.btn_rosa:hover {
    background-color: #fa92a3;
}

.btn_rojo {
    background-color: #ef8888;
    color: black;
}

.btn_rojo:hover {
    background-color: rgb(248, 107, 131);
}

.cont_index_admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont_btn_admin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cont_btn_admin a {
    margin: 10px;
    color: white;
}

.modal-footer {
    border: none !important;
}

/* TARJETAS */
.card {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
    padding: 20px;
}

.color-1 {
    background-color: #f5f1cc !important;
}

.color-2 {
    background-color: #BBDEFB !important;
}

.color-3 {
    background-color: #C8E6C9 !important;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn_link {
    background-color: #ff4081;
    color: white;
}

.btn_link:hover {
    background-color: #e91e63;
}

.button-container {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* VISTA INDIVIDUAL */
.cont_vista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 0 black;
    background-color: #BBDEFB;
    padding: 30px 40px;
}

.card_footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    margin-top: 50px;
}

.cont_row_vista {
    align-items: center;
    justify-content: center;
}

/* CUADRO */
.container_cuadro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    margin: 0 20px;
}

.table_cont {
    width: 100%;
    margin: 20px 0;
    border-collapse: separate;
    border-spacing: 0;
}

.table_cont thead {
    background-color: #a388ef;
    border: 1px solid black;
    box-shadow: 4px 4px 0 black;
    color: white;
}

.table_cont th,
.table_cont td {
    border: 1px solid #000;
    padding: 10px;
    text-align: left;
}

.cont_titulo {
    width: 150px;
}

.cont_des {
    width: 250px;
}

.cont_btn_tab {
    display: flex;
    justify-content: center;
}

.cont_img_vista img {
    width: 600px;
}

/* ALERTAS */
.alert_error {
    font-weight: 700;
    font-size: 14px;
    border: 1px solid black;
    box-shadow: 4px 4px 0 black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #ef8888;
}

.alert_correcto {
    font-weight: 700;
    font-size: 14px;
    border: 1px solid black;
    box-shadow: 4px 4px 0 black;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #C8E6C9;
}

.cont_error_admin {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.cont_error_admin p {
    margin-bottom: 0;
}

.cont_error_admin img {
    width: 60px;
    height: auto;
    margin-right: 20px;
}

/* MODAL ELIMINAR */
.cont_modal {
    background-color: #BBDEFB;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.close_btn {
    border: none;
    display: flex;
    background-color: transparent;
}

.modal-header .close_btn {
    font-size: 2rem;
    line-height: 1;
    opacity: 0.8;
}

.modal-header .close_btn:hover {
    opacity: 1;
}

.btn_edit{
    width: 30px;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* FOOTER */
.cont_footer {
    background-color: black;
    color: white;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_info{
    text-align: center;
}

.cont_logo_li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.footer_image img {
    width: 150px;
    height: auto;
    margin: 30px;
}

.footer_links {
    flex: 1;
    margin-left: 30px;
}

.footer_links ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.footer_links li {
    width: 50%;
    box-sizing: border-box;
}

@media (max-width: 990px) {
    .cont_inicio {
        flex-direction: column;
    }

    .cont_alumnas{
        flex-direction: column;
    }
    
}

